<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Contests | CodEvents</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="\styles.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-warning">Coding Contests - Improve your programming skills! | CodEvents</a>
    </nav>
    <div class="container jumbotron m-4">
        <strong>Register for Coding Contests</strong>
        <form action="/events/codingcontestregister" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1">UserId</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="user_id"
                    placeholder="Enter User ID for confirmation">

            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Coding Contest ID</label>
                <input type="text" class="form-control" name="codingcontest_id"
                    placeholder="Enter Coding Contest ID to register for it">
            </div>
            <button class="btn btn-primary" type="submit">Register for Coding Contest</button>
            {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </form>
    </div>





    {{#each results}}
    <br>
    <div class="card m-4">
        <h5 class="card-header">{{this.Name}}&emsp; Coding Contest id:{{this.id}} </h5>
        <div class="card-body">
            <h5 class="card-text">Conducted by: {{this.organiser_id}}</h5>
            <p class="card-text">Venue: <strong>{{this.Venue}}</strong> &emsp; Date:<strong>{{this.DATE}}</strong></p>
            <p class="card-text">Sponsors: <strong>{{this.Sponsors}}</strong></p>
        </div>
    </div>
    <hr><br>
    {{/each}}



    <script src="js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>